
#display {
    justify-content: center;
    text-align: center;
    font-family: cursive;
    
}
h1{
    justify-content: center;
    text-align: center;
   font-family: monospace;
   color: black;
}
.Name{
  place-items: center;
  font-size: xx-large;
  color: black;
  
}

.card {
    background: linear-gradient(white,black);
    height:100%   ;
    font-size: medium;
    margin: 20px;
    border: 2px solid black;
    padding: 20px;
    gap: 20px;
    text-align: center;
    box-shadow: 1px rgba(7, 61, 119, 0.1);
}
.card-text{
  color: white;
  font-weight: bolder;
  color: b;
}




